{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ],
  "ignore": [
    "**/Page-test.js", // ignore the whole test directory
    "**/Pagination-test.js" // ignore test files only
  ]
}